<% console.log(yr); %>
<div class="collapse" id="collapse<%= yr %>">
    <div class="card card-body">
      <!-- ? Year 1 sub -->
      <h2><%= sem.sem %></h2>
      <h2>Theory Subjects</h2>

      <div id="accordion<%= sem.sem.replaceAll(' ', '-') %>">
        <% sem.subjects.theorySubjects.forEach(subject => { %>
         <%- include('subject.ejs', {subject: subject, acc: sem.sem.replaceAll(' ', '-')}) %>
         <% }) %>
      </div>
      <br>
      <h2>Practical Subjects</h2>
      <div id="accordion<%= sem.sem.replaceAll(' ', '-') %>P">
        <% sem.subjects.practicalSubjects.forEach(subject => { %>
         <%- include('subject.ejs', {subject: subject, acc: sem.sem.replaceAll(' ', '-')+"P"}) %>
            <% console.log(subject.code); %>
         <% }) %>
      </div>
    </div>
  </div>